*{
	box-sizing: border-box;
}

.container{
	max-width: 1440px;
	width: 100%;
	font-family: Helvetica;

}
.first-section{
	padding-top: 36px;
	background: #f3f3f3;
	height: 579px;
}
.header{
	display: flex;
	justify-content: space-between;
	padding:0 35px;	
}

a{
  	text-decoration: none;
  	display: inline-block;
}

.logo{
	width: 58px;
	height: 58px;
	background: #ff8364;
	border-radius: 50%;
	margin-right: 30px;
}
.logo-block{
	display: flex;
}
.logo-name{
	font-size: 36px;
	line-height: 60px;
	color: #141414;
	letter-spacing: -0.9px;	
}
.first-link{
	margin-right: 28px;
	font-family: "Helvetica-Bold";
	font-weight: bold;
	font-size: 16px;
	margin-top: 18px;
	color: #ff8364;
	line-height: 22px;
    letter-spacing: -0.2px;
}

.header-button{
	color: #ffffff;
	font-family: "Helvetica-Bold";
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	width: 120px;
	height: 32px;
	background-color: #ff8364;
	color: #fff;
	border: 1px solid #ff8364;
	border-radius: 5px;
}

.telescope{
	margin-left: 165px;
	margin-top: 100px;
	width: 475px;
  	height: 120px;
}
.title {
	font-family: "Helvetica-Light";
	color: #141414;
	font-size: 48px;
	line-height: 60px;
  	letter-spacing: -1.2px;
  	font-weight: 400;
}
.title-text {
	color: #616161;
	font-family: "Helvetica-Light";
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -0.2px;
	border-bottom: 1px solid #E8E8E8;
}
.telescope a {
	color: #ff8364;
  	font-family: "Helvetica-Bold";
  	font-size: 16px;
  	font-weight: 400;
  	line-height: 22px;
  	text-align: right;
  	letter-spacing: -0.2px;
}
.pricing{	
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 0 119px 0;
	border-bottom: 1px solid #dedede;	
}
.pricing h1{
	margin: 0 0 23px 0;	
}
.pricing .pricing-text{
	width: 720px;	
	color: #616161;
	font-family: "Helvetica-Light";
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -0.2px;
	text-align: center;
}
.versions {
	display: flex;
	margin-top: 57px;
}
.version-block{
	width: 380px;
  	height: 453px;
  	border: 1px solid #e6e6e6;
  	border-radius: 10px;
  	margin-right: 21px;
  	padding: 30px;
  	position: relative;
}
.version-block:hover{
	border: 1px solid #ff8364;
}
.version-type{
	width: 320px;
	height: 110px;
	border-bottom: 1px solid #dedede;	
	display: flex;
	justify-content: space-between;
}
.price-block_version{
	color: #141414;
 	font-family: "Helvetica-Bold";
  	font-size: 14px;
 	font-weight: 400;
  	line-height: 19px;
  	text-transform: uppercase;
 	letter-spacing: 0.4px;
}
.price-block_cost{
	color: #141414;
 	font-family: "Helvetica-Light";
  	font-size: 48px;
  	font-weight: 400;
  	line-height: 60px;
  	letter-spacing: -1.2px;
}
.circle{
	width: 80px;
	height: 80px;
	background: #f3f3f3;
	border-radius: 50%;
}
.version-features{
	margin-top: 21px;
}
.features-title{
	color: #141414;
  	font-family: "Helvetica-Bold";
  	font-size: 16px;
  	font-weight: 400;
  	line-height: 22px;
  	letter-spacing: -0.2px;
}
.features-list{
	margin-top: 15px;
}
.features-item{
	display: flex;
	margin-bottom: 10px;
}
.feature-circle{
	width: 21px;
	height: 21px;
	background: #b9b9b9;
	border-radius: 50%;
	margin-right: 12px;
}
.feature-text{
	color: #616161;
  	font-family: "Helvetica-Light";
  	font-size: 16px;
  	font-weight: 400;
  	line-height: 24px;
  	letter-spacing: -0.1px;
}
.version-footer{
	width: 290px;
	color: #616161;
  	font-family: "Helvetica-Light";
  	font-size: 12px;
  	font-weight: 400;
  	line-height: 18px;
  	letter-spacing: -0.1px;
  	position: absolute;
  	bottom: 30px;
}
.footer-block{
	display: flex;
	justify-content: center;
	margin: 90px 0 20px 0;
	/*width: 940px;*/
}
.footer-text{
	color: #141414;
	font-family: Helvetica;
	font-size: 24px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: -0.6px;
	width: 150px;
	height: 80px;
	margin-right: 96px;
	/*border: 1px solid red;*/
}
.footer input{
	width: 460px;
  	height: 60px;
  	background-color: #f3f3f3;
  	border-style: none;
  	border-radius: 10px;
  	margin-bottom: 20px;
}
.footer input::placeholder{
	color: #616161;
  	font-family: "Helvetica-Light";
  	font-size: 24px;
  	font-weight: 400;
  	line-height: 36px;
  	letter-spacing: -0.4px;
  	opacity: 0.6;
  	padding-left: 24px;
}
.footer-lorem{	
	width: 460px;
	margin: auto;
	color: #616161;
  	font-family: "Helvetica-Light";
  	font-size: 12px;
  	font-weight: 400;
  	line-height: 18px;
  	letter-spacing: -0.1px;
}

.footer-button{
	width: 220px;
  	height: 60px;
  	background: #ff8364;
  	border-style: none;
  	border-radius: 10px;
  	color: #ffffff;
  	font-family: Helvetica;
  	font-size: 24px;
  	font-weight: 400;
  	line-height: 32px;
  	letter-spacing: -0.4px;
  	margin-left: 20px;
}
  
